doctype
html
  head
    title= title
  body
    header
        h1 Guest List
    div
        h4 Attending
        each rsvp in arrayOfAttending
            div
                p rsvp.name
    div
        h4 Not Attending
        each rsvp in arrayOfNotAttending
            div
                p rsvp.name

