doctype
html
  head
    title= title
  body
    header
        h1 Event RSVP
    div(id="message")
    form(method='post' action='/reply')
        div
            label(for='name') Name:
            input(type='text' id='name' name='name')
        div
            label(for='email') Email:
            input(type='email' id='email' name='email')
        div
            p Attending:
            div
                input(type='radio' id='attending_yes' name='attending' value=true)
                label(for='attending_yes') I'll be there
                input(type='radio' id='attending_no' name='attending' value=false)
                label(for='attending_no') I can't make it
        div
            select(name='numOfGuests' id="numOfGuests")
                option(value=1) 1
                option(value=2) 2
                option(value=3) 3
                option(value=4) 4
                option(value=5) 5
                option(value=6) 6
                option(value=7) 7
                option(value=8) 8
        div
            button(id='rsvpBtn' onclick='submitRSVP()') RSVP
    script(src='index.js')